body{
    margin: 0;
    background-color: hsl(0, 0%,  95%);

 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.calc{
    max-width: 500px;
    overflow: hidden;
    background-color: hsl(0, 0%,  15%);
    border-radius: 20px;


}

input{
    background-color: hsl(0, 0%,  20%);
    color: #fff ;
    font-size: 1.8rem;
    font-weight: bold;

}


.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 25px;
}
button{
    width:60px;
    height:60px;
    border: none !important;
    font-size: 1.5rem !important;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;

}

button:hover{
    background-color: hsl(0, 0%, 50%);
    
}
button:active{
    background-color: hsl(0, 0%, 60%);
    
}

.operator{
    background-color: hsl(35, 100%,  55%);
}
.operator:hover{
    background-color: hsl(35, 100%,  65%);
}
.operator:active{
    background-color: hsl(35, 100%,  75%);
}